openapi: 3.1.0
info:
  title: GetChat API
  version: 1.0.0
  description: API documentation for GetChat application

servers:
  - url: https://api.getchat.io
    description: Production server

paths:
  /chats:
    get:
      summary: List chats
      operationId: chat.list
      tags:
        - Chats
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/pageParam'
        - name: type
          in: query
          description: Filter by chat type
          required: false
          schema:
            type: string
            enum: [private, group, supergroup, channel]
        - name: owner
          in: query
          description: Filter by owner ID
          required: false
          schema:
            type: string
            maxLength: 255
        - name: created_from
          in: query
          description: >-
            Chats created at or after this date-time. Strict format
            `Y-m-d\TH:i:s` (e.g. `2026-07-16T12:00:00`) — no timezone, no
            milliseconds; anything else is rejected (422).
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
            example: '2026-07-16T12:00:00'
        - name: created_to
          in: query
          description: >-
            Chats created before this date-time (same strict format). Must be
            >= `created_from` when both are sent — but the handler applies
            only ONE of the two: when `created_from` is present, `created_to`
            is ignored.
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
            example: '2026-07-16T12:00:00'
        - name: last_message_from
          in: query
          description: >-
            Chats whose last message is at or after this date-time (same
            strict format). Must be >= `created_from` when both are sent.
            Combines with `last_message_to`.
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
            example: '2026-07-16T12:00:00'
        - name: last_message_to
          in: query
          description: >-
            Chats whose last message is before this date-time (same strict
            format). Must be >= `last_message_from` and >= `created_from`
            when those are sent.
          required: false
          schema:
            type: string
            pattern: '^\d{4}-\d{2}-\d{2}T\d{2}:\d{2}:\d{2}$'
            example: '2026-07-16T12:00:00'
        - name: metadata
          in: query
          description: >-
            Filter by metadata key-value pairs, e.g. `metadata[plan]=pro`.
            Values must be strings (max 255; arrays are rejected). Special
            values: `null` matches chats where the key is missing/empty;
            `1`/`true`/`on`/`yes` and `0`/`false`/`off`/`no` match stored
            boolean `true`/`false`; anything else is compared as an exact
            string.
          required: false
          style: deepObject
          schema:
            type: object
            additionalProperties:
              type: string
              maxLength: 255
        - name: with_owners
          in: query
          deprecated: true
          description: >-
            DEPRECATED — use `with_owner`, which embeds the owner inside each
            chat. Legacy flag that adds the top-level `users` map (keyed by
            internal id). Still honored by the backend, so it stays here for
            existing integrations, but new code should use `with_owner`.
            `1` = yes, `0` = no (integer wire value).
          required: false
          schema:
            type: integer
            enum: [0, 1]
        - $ref: '#/components/parameters/withOwnerParam'
        - $ref: '#/components/parameters/withLastMessageParam'
      responses:
        '200':
          description: List of chats
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - chats
                  - chats_sort
                  - meta
                  - pagination
                properties:
                  status:
                    type: boolean
                  chats:
                    type: object
                    description: >-
                      Map keyed by external chat id. NOTE: serialized as an
                      empty JSON array `[]` (not `{}`) when there are no
                      chats.
                    additionalProperties:
                      $ref: '#/components/schemas/ChatResource'
                  chats_sort:
                    type: array
                    description: External chat ids in `created_at asc` order.
                    items:
                      type: string
                  users:
                    type: object
                    deprecated: true
                    description: >-
                      DEPRECATED — use `with_owner`, which embeds the owner as
                      `owner` inside each chat. Legacy top-level map of chat
                      owners, returned only to clients still sending the
                      `with_owners=1` flag; that flag is no longer part of this
                      spec and will be removed. NOTE: keyed by the INTERNAL user
                      id (Mongo ObjectId), which does not match the external
                      `owner_id` inside the chats.
                    additionalProperties:
                      $ref: '#/components/schemas/UserResource'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

    post:
      summary: Create a new chat
      operationId: chat.create
      tags:
        - Chats
      parameters:
        - $ref: '#/components/parameters/preferReturnParam'
        - $ref: '#/components/parameters/withOwnerParam'
        - $ref: '#/components/parameters/withParticipantsParam'
        - $ref: '#/components/parameters/resultParam'
        - $ref: '#/components/parameters/participantsResultParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - chat
              properties:
                chat:
                  type: object
                  required:
                    - id
                    - title
                    - owner
                  properties:
                    id:
                      type: string
                      description: >-
                        Unique external chat identifier. NOTE: on create only
                        `required` is enforced — no string/length validation.
                    title:
                      type: string
                      description: >-
                        Chat title. Values longer than 255 chars are silently
                        truncated with an ellipsis, not rejected.
                      maxLength: 255
                    type:
                      type: string
                      description: >-
                        Chat type. Optional for now (legacy integrations;
                        planned to become required). When `private`,
                        `participants` is required with at most 2 items.
                      enum: [private, group, supergroup, channel]
                    metadata:
                      type: object
                      description: >-
                        Custom metadata. Scalar values only; nested objects
                        are flattened into dot-notation keys.
                      maxProperties: 100
                      additionalProperties:
                        oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                    owner:
                      $ref: '#/components/schemas/OwnerInput'
                participants:
                  type: array
                  maxItems: 10
                  description: >-
                    Added together with the owner (an entry with the owner's
                    id is skipped). Required with at most 2 items when
                    `chat.type` is `private`; otherwise optional, up to 10.
                  items:
                    $ref: '#/components/schemas/ParticipantInput'
      responses:
        '201':
          description: >-
            Chat created. `chat` is returned only with
            `Prefer: return=representation`; add `with_participants=true` for
            `participants` (the owner is included as the first participant).
          headers:
            Preference-Applied:
              $ref: '#/components/headers/PreferenceApplied'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  chat:
                    $ref: '#/components/schemas/ChatResource'
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParticipantResource'
        '409':
          description: Chat already exists
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusError'
        '422':
          description: >-
            Validation failed, owner data missing (`Chat owner is required`),
            or the create transaction failed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - $ref: '#/components/schemas/StatusError'

  /chats/{chat_id}:
    parameters:
      - name: chat_id
        in: path
        required: true
        schema:
          type: string
        description: Chat ID
    get:
      summary: Get chat details
      operationId: chat.show
      tags:
        - Chats
      parameters:
        - $ref: '#/components/parameters/withOwnerParam'
        - $ref: '#/components/parameters/withLastMessageParam'
      responses:
        '200':
          description: Chat details
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  chat:
                    $ref: '#/components/schemas/ChatResource'
        '404':
          $ref: '#/components/responses/NotFound'

    put:
      summary: Update chat
      operationId: chat.update
      tags:
        - Chats
      parameters:
        - $ref: '#/components/parameters/preferReturnParam'
        - $ref: '#/components/parameters/withOwnerParam'
        - $ref: '#/components/parameters/resultParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - chat
              properties:
                chat:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    title:
                      type: string
                      maxLength: 255
                      description: >-
                        Values longer than 255 chars are silently truncated
                        with an ellipsis, not rejected.
                    metadata:
                      type: object
                      description: >-
                        Scalar or null values; nested objects are flattened
                        into dot-notation keys.
                      additionalProperties:
                        oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                          - type: 'null'
      responses:
        '200':
          description: >-
            Chat updated. `chat` is returned only with
            `Prefer: return=representation`.
          headers:
            Preference-Applied:
              $ref: '#/components/headers/PreferenceApplied'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  chat:
                    $ref: '#/components/schemas/ChatResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed or the update failed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - $ref: '#/components/schemas/StatusError'

    delete:
      summary: Delete chat
      operationId: chat.delete
      tags:
        - Chats
      description: >-
        Removes every participant and dispatches the actual deletion as
        background jobs (socket notifications + DB drop), so the chat may
        disappear shortly after the response.
      responses:
        '200':
          description: Chat deletion dispatched
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Deletion failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusError'

  /chats/{chat_id}/participants:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
    get:
      summary: List chat participants
      operationId: chat.participants
      tags:
        - Chat Participants
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/pageParam'
      responses:
        '200':
          description: List of participants
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - participants
                  - meta
                  - pagination
                properties:
                  status:
                    type: boolean
                  participants:
                    type: array
                    items:
                      $ref: '#/components/schemas/ParticipantResource'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      summary: Add participants to chat
      operationId: chat.addParticipants
      tags:
        - Chat Participants
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - participants
              properties:
                participants:
                  type: array
                  maxItems: 100
                  items:
                    $ref: '#/components/schemas/ParticipantInput'
      responses:
        '200':
          description: Participants added (users are upserted by external id)
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /chats/{chat_id}/participants/{user_id}/rights:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    put:
      summary: Override participant rights for this chat
      operationId: chat.updateParticipantRights
      tags:
        - Chat Participants
      parameters:
        - $ref: '#/components/parameters/preferReturnParam'
        - $ref: '#/components/parameters/resultParam'
      description: >-
        Override this participant's rights for this chat only. Every right is
        optional; a value present sets the override, **fully replacing** the
        value from the participant's signed link (a chat override can both grant
        and revoke). An explicit `null` clears the override — the participant
        falls back to their link value. At least one right must be provided (an
        empty request is rejected). Changes propagate live over the socket.


        Notable rights: `send_messages` — `false` mutes the participant (composer
        hidden client-side, socket and API reject sends, editing/restoring
        messages are blocked; deleting own messages stays allowed).
        `can_press_buttons` — `false` blocks pressing inline message buttons.
        `pin_messages` — `none` | `for_me` | `for_everyone` (`for_me` currently
        behaves like `for_everyone`; pins are chat-global).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              allOf:
                - $ref: '#/components/schemas/ParticipantRights'
              minProperties: 1
              description: At least one right must be provided.
      responses:
        '200':
          description: >-
            Rights updated. `rights` (the full resulting override map) is
            returned only with `Prefer: return=representation`.
          headers:
            Preference-Applied:
              $ref: '#/components/headers/PreferenceApplied'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  rights:
                    allOf:
                      - $ref: '#/components/schemas/ParticipantRights'
                    description: Resulting per-chat overrides; `{}` when none. Same shape as GET.
        '404':
          description: User not found in chat
        '422':
          description: Validation failed (e.g. no rights provided)
    get:
      summary: Get participant's per-chat rights
      operationId: chat.getParticipantRights
      tags:
        - Chat Participants
      description: >-
        Returns this participant's per-chat right overrides (the values set via
        PUT). Absent keys mean they fall back to their signed-link right; an
        empty object means no overrides are set.
      responses:
        '200':
          description: Participant rights
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  rights:
                    allOf:
                      - $ref: '#/components/schemas/ParticipantRights'
                    description: Per-chat right overrides (empty when none set).
        '404':
          description: User not found in chat
    delete:
      summary: Clear all participant rights for this chat
      operationId: chat.deleteParticipantRights
      tags:
        - Chat Participants
      description: >-
        Removes ALL per-chat right overrides for this participant (drops the
        whole rights key), so they fall back entirely to their signed-link
        rights. Propagates live over the socket.
      responses:
        '200':
          description: Participant rights cleared
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
        '404':
          description: User not found in chat
        '422':
          description: Clearing the overrides failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusError'

  /chats/{chat_id}/participants/{user_id}:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    delete:
      summary: Remove participant from chat
      operationId: chat.deleteParticipants
      tags:
        - Chat Participants
      responses:
        '200':
          description: Participant removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
        '404':
          description: >-
            User not found in chat (`{status, message}` body), or the
            chat/user id in the URL didn't resolve (standard `{message}`
            body).
        '422':
          description: Removal failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatusError'

  /chats/{chat_id}/messages:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
    get:
      summary: List messages in chat
      operationId: chat.messages
      tags:
        - Chat Messages
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/pageParam'
        - name: with_users
          in: query
          description: Include user information (1 = yes, 0 = no — backend wants integer wire value)
          required: false
          schema:
            type: integer
            enum: [0, 1]
        - name: order
          in: query
          description: Sort messages by `seq`. `asc` (default) or `desc`.
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: isDeleted
          in: query
          description: >-
            Truthy (`1`/`true`/`on`/`yes`) — only deleted messages; any other
            value — only not-deleted. Omit to get both.
          required: false
          schema:
            type: string
            example: '1'
        - name: isEdited
          in: query
          description: >-
            Truthy (`1`/`true`/`on`/`yes`) — only edited messages
            (`updated_at` > `created_at`); any other value — only messages
            never updated. Omit to get both.
          required: false
          schema:
            type: string
            example: '1'
        - name: extra
          in: query
          description: >-
            Filter by `extra` fields, e.g. `extra[is_service]=1`.

            - `null` finds messages where the field is empty or missing.

            - `1`/`true`/`yes`/`on` finds messages where the field is `true`.

            - `0`/`false`/`no`/`off` finds everything that is not `true` —
              including messages without the field. So `extra[is_service]=0`
              returns all non-service messages, even ones that never had
              `is_service` set.

            - Anything else is matched as-is.

            One value per key (arrays aren't supported yet).
          required: false
          style: deepObject
          schema:
            type: object
            additionalProperties:
              oneOf:
                - type: string
                - type: number
                - type: boolean
      responses:
        '200':
          description: List of messages
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - messages
                  - messages_sort
                  - meta
                  - pagination
                properties:
                  status:
                    type: boolean
                  messages:
                    type: object
                    description: >-
                      Map keyed by message id. NOTE: serialized as an empty
                      JSON array `[]` (not `{}`) when there are no messages.
                    additionalProperties:
                      $ref: '#/components/schemas/MessageResource'
                  messages_sort:
                    type: array
                    description: Message ids in the requested `seq` order.
                    items:
                      type: string
                  users:
                    type: object
                    description: >-
                      Present only with `with_users=1`. NOTE: keyed by the
                      INTERNAL user id (Mongo ObjectId) — for messages that
                      carry an external `user_id` the key does not match it.
                    additionalProperties:
                      $ref: '#/components/schemas/ParticipantResource'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'
        '404':
          $ref: '#/components/responses/NotFound'

    post:
      summary: Send messages to chat
      operationId: chat.sendMessage
      tags:
        - Chat Messages
      description: >-
        Sends up to 50 messages as `user` (the sender is upserted and added to
        the chat). If the chat id in the URL doesn't exist, pass
        `chat.create: true` to create the chat on the fly — the id is taken
        from the URL (`chat.id` in the body is ignored); without the flag a
        missing chat is a 404. For an existing chat `chat.create` is ignored,
        `chat.title`/`chat.metadata` update the chat, and `participants` are
        neither validated nor added (use POST /chats/{chat_id}/participants).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
                - messages
              properties:
                user:
                  allOf:
                    - $ref: '#/components/schemas/User'
                  description: >-
                    The sender. `name` may be omitted only when the user
                    already exists with a name (it is then kept); otherwise
                    it is required.
                chat:
                  type: object
                  description: >-
                    When the chat is being created (`create: true`), `title`
                    is required, `type` is validated, `owner` defaults to
                    `user` if omitted, and `type: private` requires
                    `participants` (max 2).
                  properties:
                    create:
                      type: boolean
                      default: false
                      description: >-
                        Create the chat when the URL id doesn't exist. Forced
                        to false when the chat already exists.
                    type:
                      type: string
                      description: Only honored (and validated) when creating.
                      enum: [private, group, supergroup, channel]
                    title:
                      type: string
                      maxLength: 255
                      description: >-
                        Required when creating. Longer values are silently
                        truncated with an ellipsis.
                    metadata:
                      type: object
                      maxProperties: 100
                      description: >-
                        Scalar values; nested objects are flattened into
                        dot-notation keys.
                      additionalProperties:
                        oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                    owner:
                      allOf:
                        - $ref: '#/components/schemas/OwnerInput'
                      description: >-
                        Only used when the chat is created; defaults to
                        `user` when omitted.
                participants:
                  type: array
                  maxItems: 10
                  description: >-
                    Honored only when this request creates the chat
                    (required, max 2, when creating a `private` chat; up to
                    10 otherwise). Ignored for an existing chat.
                  items:
                    $ref: '#/components/schemas/ParticipantInput'
                messages:
                  type: array
                  maxItems: 50
                  items:
                    type: object
                    anyOf:
                      - required: [text]
                      - required: [voice_url]
                    description: Each message needs `text` or `voice_url`.
                    properties:
                      text:
                        type: string
                        nullable: true
                        maxLength: 4096
                        description: Required unless `voice_url` is set.
                      voice_url:
                        type: string
                        format: uri
                        maxLength: 2048
                        description: >-
                          http(s) URL of a voice recording. The original is
                          downloaded and attached before the message is
                          stored; transcoding to ogg/opus happens async.
                      extra:
                        type: object
                        maxProperties: 100
                        description: >-
                          Nested objects are flattened into dot-notation keys.
                        additionalProperties:
                          oneOf:
                            - type: string
                            - type: number
                            - type: boolean
                      recipient_id:
                        type: string
                        description: >-
                          External id of an EXISTING user; an unknown id
                          fails validation (422).
                      buttons:
                        type: array
                        maxItems: 20
                        items:
                          $ref: '#/components/schemas/Button'
                      disable_notification:
                        type: boolean
                force:
                  type: boolean
                  default: false
                  description: >-
                    Post even when the sender is muted in this chat
                    (`rights.send_messages` is `false`) — no 403. Does not
                    change the stored rights.
      responses:
        '200':
          description: Messages sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message_ids:
                    type: array
                    items:
                      type: string
        '403':
          description: >-
            The sending `user` is muted in this chat (`rights.send_messages` is
            `false`) and cannot post — same policy the socket enforces. Pass
            `force: true` to post anyway.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
        '404':
          description: >-
            Chat not found and `chat.create` was not requested. NOTE: this
            body carries the text under `error`, not `message`.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                    example: false
                  error:
                    type: string
                    example: Can't find chat resource
        '422':
          description: >-
            Validation failed, chat processing failed, or storing the
            messages failed.
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/ValidationError'
                  - $ref: '#/components/schemas/StatusError'

  /chats/{chat_id}/messages/{message}:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
      - name: message
        in: path
        required: true
        schema:
          type: string
        description: Message ID
    put:
      summary: Update message
      operationId: chat.updateMessage
      tags:
        - Chat Messages
      parameters:
        - $ref: '#/components/parameters/preferReturnParam'
        - $ref: '#/components/parameters/resultParam'
      description: >-
        Edits text (previous versions are kept), soft-deletes/restores, and
        updates `extra`/`buttons`. `is_deleted: true` nulls the text; setting
        a new `text` on a deleted message restores it.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - message
              properties:
                message:
                  type: object
                  description: >-
                    Not validated as required, but a request without
                    `message` crashes the handler — always send it.
                  properties:
                    text:
                      type: string
                      nullable: true
                      maxLength: 4096
                    is_deleted:
                      type: boolean
                    extra:
                      type: object
                      nullable: true
                      description: >-
                        No size cap here (unlike send). `null` clears extra
                        in `replace` mode.
                      additionalProperties:
                        oneOf:
                          - type: string
                          - type: number
                          - type: boolean
                    buttons:
                      type: array
                      maxItems: 20
                      items:
                        $ref: '#/components/schemas/Button'
                update_extra_mode:
                  type: string
                  enum: [merge, replace]
                  default: merge
                  description: >-
                    `merge` (default) merges keys into the existing `extra`;
                    `replace` overwrites it. When the message has no `extra`
                    yet, replace semantics apply regardless.
      responses:
        '200':
          description: >-
            Message updated. `message` is included only when the client asks for
            the entity via `Prefer: return=representation`. (Legacy `?result=yes`
            still works but is deprecated.)
          headers:
            Preference-Applied:
              $ref: '#/components/headers/PreferenceApplied'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  is_updated:
                    type: boolean
                  message:
                    $ref: '#/components/schemas/MessageResource'
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /chats/{chat_id}/typing/{user_id}:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    put:
      summary: Send typing indicator
      operationId: chat.sendTyping
      tags:
        - Chat Messages
      parameters:
        - name: time
          in: query
          required: false
          description: >-
            How long (in seconds) recipients should keep showing the typing
            indicator before it auto-hides. Omit to use the client default (5s).
            Validation is lenient: a missing, non-integer, or out-of-range value
            is silently ignored and the client default applies (no error).
            Accepted in the query string or the request body.
          schema:
            type: integer
            minimum: 1
            maximum: 60
      responses:
        '200':
          description: Typing indicator sent
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
        '404':
          $ref: '#/components/responses/NotFound'

  /chats/{chat_id}/webhook:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
    put:
      summary: Set chat webhook settings
      operationId: chat.setWebhook
      tags:
        - Chat Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              description: At least one of `disabled` / `url` is required.
              anyOf:
                - required: [disabled]
                - required: [url]
              properties:
                disabled:
                  type: boolean
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: >-
            Always HTTP 200. `status: true` — settings were written;
            `status: false` — either nothing changed (same values re-sent) or
            the update failed (`message` is then present). Failures are NOT
            signalled via the HTTP status code.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string
                    description: Present only when the update threw an error.
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /chats/{chat_id}/s3-credentials:
    parameters:
      - $ref: '#/components/parameters/chatIdParam'
    put:
      summary: Set S3 credentials for chat
      operationId: chat.setS3Credentials
      tags:
        - Chat S3
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - access_key
                - secret_key
                - endpoint_url
                - bucket
              properties:
                access_key:
                  type: string
                  maxLength: 40
                secret_key:
                  type: string
                  maxLength: 40
                endpoint_url:
                  type: string
                  format: uri
                bucket:
                  type: string
                region:
                  type: string
                  maxLength: 20
                s3_path_style:
                  type: boolean
                public_url:
                  type: string
                  format: uri
                cdn_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: >-
            S3 credentials stored. `modified: false` means the same
            credentials were already set (nothing written).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  modified:
                    type: boolean
        '404':
          $ref: '#/components/responses/NotFound'
        '422':
          description: Validation failed.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'

  /users:
    post:
      summary: Create user
      operationId: user.create
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/preferReturnParam'
        - $ref: '#/components/parameters/resultParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - user
              properties:
                user:
                  type: object
                  required:
                    - id
                    - name
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    name:
                      type: string
                      maxLength: 255
                    email:
                      type: string
                      format: email
                    link:
                      type: string
                      format: uri
                    picture:
                      type: string
                      format: uri
                    metadata:
                      type: object
                      maxProperties: 64
                      additionalProperties:
                        type: string
      responses:
        '201':
          description: >-
            User created. `user` is returned only with
            `Prefer: return=representation`.
          headers:
            Preference-Applied:
              $ref: '#/components/headers/PreferenceApplied'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/UserResource'
        '409':
          description: User already exists

  /users/{user_id}:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    get:
      summary: Get user details
      operationId: user.show
      tags:
        - Users
      responses:
        '200':
          description: User details
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/UserResource'

    put:
      summary: Update user
      operationId: user.update
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/preferReturnParam'
        - $ref: '#/components/parameters/resultParam'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  properties:
                    id:
                      type: string
                      maxLength: 255
                    name:
                      type: string
                      maxLength: 255
                    email:
                      type: string
                      format: email
                    link:
                      type: string
                      format: uri
                    picture:
                      type: string
                      format: uri
                    metadata:
                      type: object
                      additionalProperties:
                        type: string
      responses:
        '200':
          description: >-
            User updated. `user` is returned only with
            `Prefer: return=representation`.
          headers:
            Preference-Applied:
              $ref: '#/components/headers/PreferenceApplied'
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  user:
                    $ref: '#/components/schemas/UserResource'

    delete:
      summary: Delete user
      operationId: user.delete
      tags:
        - Users
      responses:
        '200':
          description: User deleted

  /users/{user_id}/chats:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    get:
      summary: Get user chats
      operationId: user.chats
      tags:
        - Users
      parameters:
        - $ref: '#/components/parameters/limitParam'
        - $ref: '#/components/parameters/pageParam'
        - name: order
          in: query
          description: Sort order
          required: false
          schema:
            type: string
            enum: [asc, desc]
            default: asc
        - name: read
          in: query
          description: Filter read/unread chats
          required: false
          schema:
            type: boolean
        - name: type
          in: query
          description: Filter by chat type
          required: false
          schema:
            type: string
            enum: [private, group, supergroup, channel]
        - name: metadata
          in: query
          description: Filter by metadata
          required: false
          style: deepObject
          schema:
            type: object
            additionalProperties:
              type: string
        - name: with_last_message
          in: query
          description: >-
            Embed each chat's latest message as `last_message`
            (a MessageResource object). 1 = yes, 0 = no — backend wants the
            integer wire value; Laravel's `boolean` rule on `ChatsRequest`
            rejects the string `true`/`false`.
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - name: with_participants
          in: query
          description: >-
            Embed each chat's participants as `participants` (a ParticipantResource
            array). 1 = yes, 0 = no — same integer wire value as
            `with_last_message`. Honored only for `private` chats and `group`
            chats up to the tenant's threshold (default 100 members); larger
            groups require the `api_settings.participants_listing.list_large_groups`
            tenant override. When participants are withheld the chat instead
            carries `participants_omitted` explaining why. `supergroup` and
            `channel` chats never embed participants.
          required: false
          schema:
            type: integer
            enum: [0, 1]
            default: 0
        - $ref: '#/components/parameters/withOwnerParam'
      responses:
        '200':
          description: List of chats
          content:
            application/json:
              schema:
                type: object
                required:
                  - status
                  - chats
                  - meta
                  - pagination
                properties:
                  chats:
                    type: array
                    items:
                      $ref: '#/components/schemas/ChatResource'
                  meta:
                    $ref: '#/components/schemas/PaginationMeta'
                  pagination:
                    $ref: '#/components/schemas/Pagination'

  /users/{user_id}/fcm_tokens:
    parameters:
      - name: user_id
        in: path
        required: true
        schema:
          type: string
        description: User ID
    post:
      summary: Add FCM token
      operationId: user.addFcmToken
      tags:
        - Users
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - token
                - device_type
              properties:
                token:
                  type: string
                  maxLength: 255
                device_type:
                  type: string
                  enum: [android, ios, web]
                device_fingerprint:
                  type: string
                  maxLength: 255
      responses:
        '200':
          description: FCM token added

  /s3-credentials:
    put:
      summary: Set tenant S3 credentials
      operationId: tenant.setS3Credentials
      tags:
        - Tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - access_key
                - secret_key
                - endpoint_url
                - bucket
              properties:
                access_key:
                  type: string
                  maxLength: 40
                secret_key:
                  type: string
                  maxLength: 40
                endpoint_url:
                  type: string
                  format: uri
                bucket:
                  type: string
                region:
                  type: string
                  maxLength: 20
                s3_path_style:
                  type: boolean
                public_url:
                  type: string
                  format: uri
                cdn_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: S3 credentials updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  modified:
                    type: boolean

  /webhook:
    put:
      summary: Set tenant webhook settings
      operationId: tenant.setWebhookSettings
      tags:
        - Tenant
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                disabled:
                  type: boolean
                url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Webhook settings updated

  /firebase/js_config:
    put:
      summary: Set Firebase config for JS
      operationId: tenant.setFirebaseConfigForJs
      tags:
        - Firebase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - api_key
                - auth_domain
                - project_id
                - storage_bucket
                - messaging_sender_id
                - app_id
              properties:
                api_key:
                  type: string
                  maxLength: 255
                auth_domain:
                  type: string
                  maxLength: 255
                project_id:
                  type: string
                  maxLength: 255
                storage_bucket:
                  type: string
                  maxLength: 255
                messaging_sender_id:
                  type: string
                  maxLength: 255
                app_id:
                  type: string
                  maxLength: 255
                measurement_id:
                  type: string
                  maxLength: 255
      responses:
        '200':
          description: Firebase config updated

  /firebase/svc_acc_credentials:
    put:
      summary: Set Firebase service account
      operationId: tenant.setFirebaseServiceAccount
      tags:
        - Firebase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - project_id
                - private_key_id
                - private_key
                - client_email
                - client_id
                - auth_uri
                - token_uri
                - auth_provider_x509_cert_url
                - client_x509_cert_url
                - universe_domain
              properties:
                type:
                  type: string
                  maxLength: 100
                project_id:
                  type: string
                  maxLength: 150
                private_key_id:
                  type: string
                  maxLength: 100
                private_key:
                  type: string
                  maxLength: 2000
                client_email:
                  type: string
                  format: email
                client_id:
                  type: string
                  maxLength: 100
                auth_uri:
                  type: string
                  format: uri
                token_uri:
                  type: string
                  format: uri
                auth_provider_x509_cert_url:
                  type: string
                  format: uri
                client_x509_cert_url:
                  type: string
                  format: uri
                universe_domain:
                  type: string
                  maxLength: 255
      responses:
        '200':
          description: Firebase service account updated

  /firebase/fcm_vapid:
    put:
      summary: Set Firebase FCM VAPID
      operationId: tenant.setFirebaseFcmVapid
      tags:
        - Firebase
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - public_key
                - private_key
              properties:
                public_key:
                  type: string
                  maxLength: 255
                private_key:
                  type: string
                  maxLength: 255
      responses:
        '200':
          description: Firebase FCM VAPID updated

  /settings/push-notifications:
    put:
      summary: Set push notification settings
      operationId: tenant.setPushNotificationsSettings
      tags:
        - Settings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                icon:
                  type: string
                  format: uri
                  maxLength: 100
                url_template:
                  type: string
                  maxLength: 255
                disabled:
                  type: boolean
      responses:
        '200':
          description: Push notification settings updated

  /settings/participants:
    put:
      summary: Set participant-listing settings
      operationId: tenant.setParticipantsListingSettings
      tags:
        - Settings
      description: >-
        Controls whether large `group` chats expose their participants inline
        via `with_participants` on GET /users/{user_id}/chats (and other
        ChatResource endpoints). Stored under
        `api_settings.participants_listing`. At least one field is required;
        fields are updated independently.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                list_large_groups:
                  type: boolean
                  description: >-
                    When true, groups larger than `group_threshold` also embed
                    their participants. `supergroup`/`channel` are unaffected.
                group_threshold:
                  type: integer
                  minimum: 1
                  maximum: 1000
                  description: >-
                    Group size up to which participants are always embedded.
                    Defaults to 100 when unset.
      responses:
        '200':
          description: Participant-listing settings updated
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean

  /clear:
    put:
      summary: Clear tenant data
      operationId: tenant.clearData
      tags:
        - Tenant
      parameters:
        - $ref: '#/components/parameters/syncParam'
      responses:
        '200':
          description: >-
            Data cleared synchronously. Returned only when `sync=true` — the job
            runs inline and completes before the response (no `job_id`).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
        '202':
          description: >-
            Clear-data job dispatched asynchronously. This is the default when
            `sync` is not set; the job runs in the background.
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  job_id:
                    type: string
        '405':
          description: >-
            Data clearing is disabled for this tenant
            (`api_settings.allow_clear_data` is off).
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: boolean
                  message:
                    type: string

components:
  schemas:
    ParticipantRights:
      type: object
      description: >-
        Per-chat right overrides. Each key optional; booleans accept
        `true`/`false`/`null`. Mirrors the signed-link rights schema.
        A repeated participant id (or one equal to the chat owner) keeps
        only its first occurrence.
      properties:
        send_messages: { type: boolean, nullable: true }
        can_press_buttons: { type: boolean, nullable: true }
        edit_messages: { type: string, nullable: true, enum: [none, my, any] }
        delete_messages: { type: string, nullable: true, enum: [none, my, any] }
        pin_messages: { type: string, nullable: true, enum: [none, for_me, for_everyone] }
        send_typing: { type: boolean, nullable: true }
        send_photos: { type: boolean, nullable: true }
        send_voices: { type: boolean, nullable: true }
        send_audio: { type: boolean, nullable: true }
        send_documents: { type: boolean, nullable: true }
        send_location: { type: boolean, nullable: true }
        create_pool: { type: boolean, nullable: true }
        participate_pool: { type: boolean, nullable: true }
        kick_users: { type: boolean, nullable: true }
        track_presence: { type: boolean, nullable: true }
        track_read_state: { type: boolean, nullable: true }
        send_read_state: { type: boolean, nullable: true }
        react_messages: { type: boolean, nullable: true }
        leave_chats: { type: boolean, nullable: true }

    OwnerInput:
      type: object
      description: >-
        Chat owner payload. Validation itself marks every field optional, but
        POST /chats rejects a chat without owner data (422 "Chat owner is
        required"). Omitting `id` creates a fresh detached user record on
        every call — always pass `id`. The owner is also added as the chat's
        first participant and may carry per-chat `rights`.
      properties:
        id:
          type: string
          maxLength: 255
        name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        link:
          type: string
          format: uri
        picture:
          type: string
          format: uri
        metadata:
          type: object
          maxProperties: 100
          description: >-
            Scalar values (null allowed); nested objects are flattened into
            dot-notation keys. NOTE: currently ignored by the user upsert —
            not persisted.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
              - type: 'null'
        rights:
          $ref: '#/components/schemas/ParticipantRights'

    ParticipantInput:
      description: |
        Participant payload for chat creation / addParticipants / sendMessage.
        Distinct from `User` because participants carry an optional `is_bot` flag
        that the bare User entity doesn't model.
      type: object
      required:
        - id
      properties:
        id:
          type: string
          description: External user id (no length limit is enforced).
        name:
          type: string
          maxLength: 100
        email:
          type: string
          format: email
          maxLength: 100
        link:
          type: string
          format: uri
        picture:
          type: string
          description: Plain string — not validated as a URL here.
        is_bot:
          type: boolean
          description: >-
            Accepted but currently NOT persisted — the user upsert only reads
            a camelCase `isBot` field, which this API never produces.
        rights:
          $ref: '#/components/schemas/ParticipantRights'

    Button:
      description: Inline action button attached to a message.
      type: object
      required:
        - type
        - label
      properties:
        action:
          type: string
          maxLength: 255
        type:
          type: string
          enum: [url, call, local, remote]
        label:
          type: string
          maxLength: 100
        state:
          type: string
          enum: [default, loading, disabled]
        style:
          type: string
          enum: [primary, positive, negative, neutral]

    Avatar:
      description: |
        User avatar — either a URL string when an image is set, or an object
        describing an auto-generated placeholder (initials on a colored bg).
      oneOf:
        - type: string
          format: uri
        - type: object
          required:
            - kind
          properties:
            kind:
              type: string
              description: Auto-generated avatar kind (e.g. "auto")
            color:
              type: string
              description: Display color for the placeholder
            initials:
              type: string
              description: Initials shown on the placeholder

    User:
      type: object
      required:
        - id
        - name
      description: >-
        On POST /chats/{chat_id}/messages `name` is required only when the
        user doesn't exist yet (or exists without a name).
      properties:
        id:
          type: string
          maxLength: 255
        name:
          type: string
          maxLength: 255
        email:
          type: string
          format: email
        link:
          type: string
          format: uri
        picture:
          type: string
          format: uri
        metadata:
          type: object
          maxProperties: 100
          description: >-
            Scalar values; nested objects are flattened into dot-notation
            keys. NOTE: on chat-scoped endpoints (send message, chat create)
            the user upsert currently ignores metadata.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean

    UserResource:
      type: object
      required:
        - id
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        link:
          type: string
          format: uri
        picture:
          $ref: '#/components/schemas/Avatar'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        metadata:
          type: object
          additionalProperties:
            type: string

    ParticipantResource:
      type: object
      required:
        - id
        - name
        - created_at
        - updated_at
      properties:
        id:
          type: string
        name:
          type: string
        email:
          type: string
          format: email
        link:
          type: string
          format: uri
        picture:
          $ref: '#/components/schemas/Avatar'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    ChatResource:
      type: object
      required:
        - id
        - type
        - title
        - created_at
        - updated_at
      properties:
        id:
          type: string
          description: External chat ID
        type:
          type: string
          nullable: true
          description: >-
            Chat type; null for legacy chats created without one.
          enum: [private, group, supergroup, channel]
        title:
          type: string
          nullable: true
          description: Chat title
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time
        last_message_at:
          type: string
          format: date-time
          description: Present only when the chat has messages.
        last_message:
          description: >-
            The chat's most recent message. Present only when requested via
            `with_last_message` (GET /chats, GET /chats/{chat_id},
            GET /users/{user_id}/chats).
          allOf:
            - $ref: '#/components/schemas/MessageResource'
        owner_id:
          type: string
          description: External owner ID; present only when the chat has one.
        owner:
          description: Present only with `with_owner` (see the parameter).
          allOf:
            - $ref: '#/components/schemas/UserResource'
        participants:
          type: array
          description: >-
            The chat's participants. Present only when requested via
            `with_participants` and the chat is eligible (see the parameter).
          items:
            $ref: '#/components/schemas/ParticipantResource'
        participants_omitted:
          type: object
          description: >-
            Present instead of `participants` when `with_participants` was
            requested but participants were withheld for this chat.
          required:
            - reason
            - members_count
          properties:
            reason:
              type: string
              enum: [large_group, unsupported_type]
              description: >-
                `large_group` — a group above the tenant threshold with the
                override off (see `hint`); `unsupported_type` — a supergroup or
                channel, which never embeds participants.
            members_count:
              type: integer
            hint:
              type: string
              description: >-
                How to lift the omission. Present only for `large_group`, where
                enabling the tenant override would include participants.
        metadata:
          type: object
          description: Present only when non-empty. Values are scalars.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean

    MessageResource:
      type: object
      required:
        - id
        - seq
        - user_id
        - text
        - created_at
        - updated_at
        - is_deleted
        - is_edited
        - versions
        - extra
      properties:
        id:
          type: string
        seq:
          type: integer
          description: Monotonic per-chat sequence number (the sort key).
        user_id:
          type: string
          description: >-
            The sender's EXTERNAL id when known; the internal id for legacy
            messages without one.
        text:
          type: string
          nullable: true
          description: Null for deleted messages.
        created_at:
          type: integer
          format: int64
          description: Unix timestamp (seconds).
        updated_at:
          type: integer
          format: int64
          nullable: true
          description: Unix timestamp (seconds); null until the first update.
        is_deleted:
          type: boolean
        is_edited:
          type: boolean
        versions:
          type: integer
          description: Number of stored previous versions
        extra:
          type: object
          description: >-
            NOTE: serialized as an empty JSON array `[]` (not `{}`) when
            there are no extra fields.
          additionalProperties:
            oneOf:
              - type: string
              - type: number
              - type: boolean
        recipient_id:
          type: string
          description: External recipient id; present only when set.
        buttons:
          type: array
          maxItems: 20
          items:
            $ref: '#/components/schemas/Button'

    PaginationMeta:
      type: object
      description: Row counts behind a list response.
      required:
        - total
        - output
      properties:
        total:
          type: integer
          description: Rows the query matched across all pages.
        output:
          type: integer
          description: Rows this page carries.

    Pagination:
      type: object
      description: Page state of a list response.
      required:
        - items_per_page
        - current
        - total
      properties:
        items_per_page:
          type: integer
          description: Effective page size — the requested `limit` after clamping.
        current:
          type: integer
          description: >-
            Requested page clamped to the page count; 0 when nothing matched.
        total:
          type: integer
          description: Number of pages; 0 when nothing matched.
        next_page_url:
          type: string
          nullable: true
          description: Null on the last page.
        prev_page_url:
          type: string
          nullable: true
          description: Null on the first page.

    StatusError:
      type: object
      description: >-
        Controller-level failure — `status: false` plus a `message`.
      properties:
        status:
          type: boolean
          example: false
        message:
          type: string

    ValidationError:
      type: object
      description: Standard Laravel validation error body (HTTP 422).
      properties:
        message:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

  responses:
    NotFound:
      description: >-
        A URL-bound resource (chat / user / message) was not found. Standard
        Laravel 404 body.
      content:
        application/json:
          schema:
            type: object
            properties:
              message:
                type: string

  headers:
    PreferenceApplied:
      description: >-
        Present (as `return=representation`) when the client requested the
        entity via `Prefer: return=representation` (or the deprecated
        `?result=yes` flag) and the server honored it. Per RFC 7240.
      required: false
      schema:
        type: string
        enum: [return=representation]

  parameters:
    chatIdParam:
      name: chat_id
      in: path
      required: true
      schema:
        type: string
      description: Chat ID

    withOwnerParam:
      name: with_owner
      in: query
      required: false
      description: >-
        Embed the chat owner as `owner` (a UserResource) inside each returned
        chat. Truthy values: `1`, `true`, `on`, `yes` (unvalidated — anything
        else counts as no). On GET /chats it is force-disabled when the
        `owner` filter is used. On POST /chats and PUT /chats/{chat_id} it
        applies only when the chat is echoed back
        (`Prefer: return=representation`).
      schema:
        type: string
        example: '1'

    withLastMessageParam:
      name: with_last_message
      in: query
      required: false
      description: >-
        Embed each chat's latest message as `last_message` (a
        MessageResource). Truthy values: `1`, `true`, `on`, `yes`
        (unvalidated here; on GET /users/{user_id}/chats this parameter is
        validated as a Laravel boolean instead — see that endpoint).
      schema:
        type: string
        example: '1'

    syncParam:
      name: sync
      in: query
      required: false
      schema:
        type: boolean
      description: force sync execution of method

    preferReturnParam:
      name: Prefer
      in: header
      required: false
      description: >-
        RFC 7240 preference for echoing the affected entity in the response.
        `return=representation` includes it; `return=minimal` (default) returns
        only `status`. When honored, the response adds a
        `Preference-Applied: return=representation` header.
      schema:
        type: string
        enum: [return=representation, return=minimal]

    withParticipantsParam:
      name: with_participants
      in: query
      required: false
      description: >-
        Also include the created `participants`. Only with
        `Prefer: return=representation`.
      schema:
        type: boolean
        default: false

    resultParam:
      name: result
      in: query
      required: false
      deprecated: true
      description: >-
        DEPRECATED — use `Prefer: return=representation` instead. Legacy flag:
        `yes` includes the affected entity in the response. Still honored;
        usage is logged server-side.
      schema:
        type: string
        enum: [yes, no]
        default: no

    participantsResultParam:
      name: participants
      in: query
      required: false
      deprecated: true
      description: >-
        DEPRECATED — use `with_participants` instead. Legacy flag: `yes` (with
        `result=yes`) includes the created participants. Still honored; usage
        is logged server-side.
      schema:
        type: string
        enum: [yes, no]
        default: no

    limitParam:
      name: limit
      in: query
      required: false
      description: >-
        Items per page (default 50). Must be an integer >= 1 — `0` and negative
        values are rejected with 422. Values above the endpoint's ceiling are
        silently clamped, not rejected; the ceiling is 1000 everywhere except
        GET /users/{user_id}/chats, where it is 250.
      schema:
        type: integer
        minimum: 1
        default: 50

    pageParam:
      name: page
      in: query
      required: false
      description: >-
        Page number (default 1). Must be an integer >= 1; a page past the last
        one is clamped to the last page.
      schema:
        type: integer
        minimum: 1
        default: 1

  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: >-
        Opaque tenant token (`Client.api_token`) — not a JWT. Must be sent in
        the `Authorization: Bearer` header: tenant resolution compares
        exactly this header, so query-string token variants do not work.
        Missing or wrong token yields 401 (auth guard) or 403 (tenant
        resolution).

security:
  - bearerAuth: []

tags:
  - name: Chats
    description: Chat management
  - name: Chat Participants
    description: Chat participants management
  - name: Chat Messages
    description: Chat messages management
  - name: Chat Webhooks
    description: Chat webhook configuration
  - name: Chat S3
    description: Chat S3 storage configuration
  - name: Users
    description: User management
  - name: Tenant
    description: Tenant configuration
  - name: Firebase
    description: Firebase configuration
  - name: Settings
    description: General settings